*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{   width: 100%;
    height: 0px;
    background-color:rgb(14, 11, 11);
    margin: -35px;
    padding: 50px;
}
header{
    width: 88%;
    height: 80px;
    color: white;
    margin: auto;
    padding: 10px;
    background-color: crimson;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body header .cab_izq{
    width: 34.9%;
    height: 200px;
    padding: 10px;
    float: left;
    background-color: pink;
    border-radius: 5px;
}
body header .cab_izq .caja_izq{
    width: 104%;
    height: 200px;
    margin: 4px;
    padding: 15px;
    float: left;
    background-color: aquamarine;
    border-radius: 5px;
}
img{
    width: 316px;    
    height: 200px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}